@page "/"

<div>
    <h3>Movie</h3>
    <MoviesList Movies="Movies" />
</div>

<div>
    <h2>Create a Movie</h2>
    <DummyTextBox placeholder="movie name" />
</div>

@code{

    private List<MovieDTO> Movies;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        Movies = new()
        {
                new()
                {
                    Title = "Spider Man",
                    ReleaseDate = new DateTime(2019, 7, 2)
                },
                new()
                {
                    Title = "Moana",
                    ReleaseDate = new DateTime(2016, 11, 23)
                }
            };
    }
}